* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
 
}

body {
  font-family: "Poppins", sans-serif;
  width: 1440px;
  padding: 0;
  margin: 0;
  /* overflow-x: hidden; */
}

.nav-bar {
  width: 1440px;
  background: white;
}

.header {
  width: 1280px;
  height: 80px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin: 0 auto;
  border: 1px solid red;
}

ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  gap: 40px;
}

button {
  padding: 0;
  margin: 0;
  border: none;
  background: none;
  font: inherit;
}

.btn-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.btn-1, .btn-2 {
  color: #cc2b02;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  background-color: white;
  border: 1.5px solid;
  border-radius: 8px;
  border-color: #f7b27a;
  cursor: pointer;
}
.btn-1:hover, .btn-2:hover{
  background-color: #fde7d4;
  transition: background-color 0.3s;
}

.btn-2 {
  color: white;
  background-color: #ff4000;
}

.btn-2:hover {
  background-color: #e33c04;
}

.has-dropdown {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2px;
  cursor: pointer;
}

.prod-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("/assets/background.png");
  background-position: center;
  background-size: contain;
  padding: 80px 0;
}

/* .heading {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid blue;
 
} */

.hero-body {
  display: flex;
  flex-direction: column;
  gap: 20px;
  
}
.prod-container > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hero-text {
  font-size: 48px;
  font-family: Poppins;
  font-weight: 600;
  line-height: 60px;
  word-wrap: break-word;
  text-align: center;
  width: 900px;
  border: 1px solid red;
}
.hero-text-change {
  color: #ff4000;
  font-size: 48px;
  font-family: Poppins;
  font-weight: 600;
}

.hero-sub-text {
  color: #475467;
  font-size: 20px;
  font-family: Poppins;
  font-weight: 400;
  line-height: 30px;
  text-align: center;
  width: 609px;
}
.ratings {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

.request-button, .get-started-button{
  display: flex;
  border-radius: 8px;
  border: 1px solid;
  width: 198px;
  border-color: #b9e6fe;
  color: #0ba5ec;
  padding: 16px 22px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.request-button:hover {
  background-color: #e0f2fe;
  transition: background-color 0.3s;
}

.get-started-button {
  background-color: #ff4000;
  color: white;
  width: 152px;
}

.get-started-button:hover {
  background-color: #e83f07;
  transition: background-color 0.3s;
}

.hero-button {
  display: flex;
  gap: 12px;
  margin-top: 48px;
}

.trial-box {
  display: flex;
  gap: 24px;
}

.trial-box > div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  color: #667085;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  margin-top: 48px;
}
.overlay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
  transform: translateY(-140px);
}

.logos {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 32px;
}

.trust-text {
  color: #0ba5ec;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
}

.logos > div {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}

.third {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border: 1px solid green;
}

.extract {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  padding-bottom: 40px;
}

.extract-text {
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  color: #101010;
}

.extract-text > span {
  color: #0ba5ec;
}

.extra-text {
  color: #475467;
  text-align: center;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  width: 577px;
}
.mansory {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
}
.card-one {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 48px;
  border-radius: 24px;
  border: 1px solid #d0d5dd;
  padding-top: 32px;
  padding-left: 8px;
  padding-right: 8px;
}

.card-details {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 415px;
  text-align: left;
}

.card-details > h3 {
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
}

.card-details > p {
  color: #475467;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
}

.card-details > a {
  display: flex;
  gap: 4px;
  color: #0ba5ec;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
}

.card-two {
  border-radius: 24px;
  border: 1px solid #d0d5dd;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-details-2 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 737px;
  text-align: left;
}

.card-details-2 > h3 {
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  padding-left: 32px;
  padding-right: 32px;
  padding-top: 16px;
}

.card-details-2 > p {
  color: #475467;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  padding-left: 32px;
  padding-right: 32px;
}

.card-details-2 > a {
  display: flex;
  gap: 4px;
  color: #0ba5ec;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  padding-left: 32px;
  padding-right: 32px;
  padding-bottom: 16px;
}

.background-white {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  background: #f1f3f4;
  border-radius: 24px 24px 0px 0px;
  height: 347px;
  width: 737px;
}

.card-three {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  border-radius: 24px;
  border: 1px solid #d0d5dd;
  text-align: left;
}

.card-details-3 {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 85%;
  text-align: left;
}
.scrape-box {
  display: flex;
  padding-bottom: 16px;
}
.scrape-heading {
  display: flex;
  width: 594px;
}
.scrape-text {
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
}
.scrape-description {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 594px;
}
.scrape-description > h3 {
  width: 90%;
}
.scrape-description > p {
  color: #475467;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
}

.scrape-description > a {
  display: flex;
  gap: 4px;
  color: #0ba5ec;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
}

.fourth {
  padding-top: 96px;
  width: 1440px;
}

.extra-txt {
  color: #475467;
  text-align: center;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  width: 728px;
}

.card-frame {
  display: flex;
  width: 1276px;
  gap: 36px;
  margin: 0 auto;
}

.card-list {
  display: flex;
  width: 280px;
  height: 320px;
  padding: 52px 24px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* gap: 28px; */
  border: 2px solid #0ba5ec;
  border-radius: 8px;
}

.card-list > h3 {
  color: #344054;
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
}
.card-list > p {
  color: #667085;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
}

.feature-section{
  width: 1440px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
  padding-top: 96px;
  border: 2px solid blue;
}

.industry-header {
  color: #101828;
  text-align: center;
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
}


.jend > p {
  color: #475467;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
}

.industry-header > span {
  color: #e04f16;
}

.content-frame {
  width: 1280px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 24px;
  border: 2px solid yellow;
  margin-top: 2rem;
}

.white-box {
  border-radius: 8px;
  border: 1px solid #eaecf0;
  background: #fff;
  box-shadow: 0 2px 4px rgba(94, 94, 94, 0.1);
  padding: 24px;
  width: 286px;
}

.white-box:nth-child(5), .white-box:nth-child(6), .white-box:nth-child(7) {
  width: 389px;
}

/* .box-2 {
  width: 389.33px;
} */
/* .white-box-2 {
  max-width: 390px;
  border-radius: 8px;
  border: 1px solid #eaecf0;
  background: #fff;
  box-shadow: 0 2px 4px rgba(94, 94, 94, 0.1);
  padding: 24px;
  box-sizing: border-box;
} */

.white-box-text {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.white-box-text > h4 {
  color: #101828;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
}
.white-box-text > p {
  color: #475467;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}

.lock-section {
  display: flex;
  flex-direction: row;
  border: 1px solid  green;
}

.Unlock-text {
  width: 562px;
  height: 595px;
  background-color: #FEF6EE;
}

.Unlock-text-frame {
  width: 450px;
  height: 226.16px;
  margin: 41.41px 0 0 51.5px;
  gap: 8px;
  opacity: 0px;
}

.Unlock-text-frame > h2, .Unlock-text > h2 > span {
  width: 430px;
  font-family: Poppins;
  font-size: 47.3px;
  font-weight: 600;
  line-height: 56.7px;
  letter-spacing: -0.9449999928474426px;
  text-align: left;

}

.Unlock-text-frame > h2 > span {
  color: #e33c04;

}

.Unlock-parag {
  font-family: Poppins;
  font-size: 14px;
  font-weight: 400;
  line-height: 19.29px;
  text-align: left;
  color: #475467;
  margin-top: 31.5px;
 
}

.Unlock-backg-img > img{
   width: 502px;
   height: 595px;
   border-top-right-radius: 16px;
   border-bottom-right-radius: 16px;
}